<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="CresijCamConnectionString" connectionString="Data Source=localhost;Initial Catalog=cresijdatabase;
         User Id=root;Password=Cresij@123; Integrated Security=false" providerName="MySql.Data.MySqlClient"/>
    
  </connectionStrings>
</configuration>